################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/Debug
/bin/retroarch.hmod
/bin/RetroArch 0.3.zip
/bin/hakchi2.rar
/bin/CloverApp.zip
/obj/Debug
